// Import theming functions
@import '../styles.scss';
$primary: map-get($store-app-theme, primary);

.content-container{
    min-height: 100vh;
}

.link{
    &-container{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-btn{
        display: flex;
        width: 10rem;
        max-width: 100vh;
        text-align: center;
        background-color: white;
        height: 3rem;
        border: none;
        font-size: 1rem;
        border-left: 5px solid transparent;
        align-items: center;
        justify-content: center;
        transition: border-left 200ms ease;
        
        &:link, &:visited{
            color: mat-color($primary);
            text-decoration: none;
        }
        
        &.router-link-active{
            border-left: 5px solid;
            border-color: mat-color($store-app-accent);
        }
    }
}