

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="isNavOpen" class="nav-container">
        <ul class="link-container">
            <li><a [routerLink]="['/list']" routerLinkActive="router-link-active"  class="link-btn">Payed Itmes</a></li>
            <li><a [routerLink]="['/received']" routerLinkActive="router-link-active"  class="link-btn">Received Itmes</a></li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="isNavOpen = !isNavOpen">
            <mat-icon>menu</mat-icon>
            </button>
            <span>Store App</span>
            <span class="spacer"></span>
        </mat-toolbar>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

